.app {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1140px;
    width: 100%;
    padding: 15px;
    margin: 0 auto;
    height: 100vh;
    background-color: gray;
}

.wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 3px solid #00a3b2;
    height: 150px;
    min-height: 150px;
    width: 300px;
    min-width: 300px;
    padding: 10px;
    border-radius: 5px;
    gap: 5px;
    background-color: gray;
}

.h2Class {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70%;
    width: 100%;
    border: 3px solid #00a3b2;
    border-radius: 5px;
}

.maxCount {
    color: red;
}

.buttonBox {
    display: flex;
    justify-content: space-evenly;
    height: 30%;
    width: 100%;
    border: 3px solid #00a3b2;
    border-radius: 5px;

}

.buttonBox button {
   margin: 5px;
    background-color: gray;
    border: 3px solid #00a3b2;
    border-radius: 5px;
    text-decoration: none;
}

.buttonBox button:hover {
    background-color: #ffffff;
}
.inputs {
    display: flex;
    border: 3px solid #00a3b2;
    border-radius: 5px;
    flex-direction: column;

}

.inputCount {
    display: flex;
    justify-content: space-evenly;
     padding: 5px;
}

.inputCount input {
    text-align: center;
    width: 30%;
    border: 3px solid #00a3b2;
    border-radius: 5px;
}

.settingsWrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.inputError {
    border: 3px solid #ff001d;
}